/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-size: 90px;
    margin-bottom: 50px;
}

/* Utils */
.container {
    max-width: 1400px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-light {
    background-color: #0061FF;
}

/* Header */

/* NavBar*/
.navbar {
    min-height: 80px;
    padding: 15px 20px;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
}

.navbar ul {
    min-height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar div {
    padding: 8px 15px;
    flex-basis: 50%;
}

.nav-right {
    justify-content: right;
}

.nav-right ul {
    justify-content: flex-end;
}

.navbar a {
    color: black;
}

.nav-right .btn-nav {
    padding: 5px 9px;
    color: white;
    margin-left: 15px;
}

/*Jumbotron*/
#jumbotron {
    padding-top: 150px;
    height: 900px;
    background-color: #B4D0E7;
}

.jumbo-dsc {}

.user-page {
    width: 70%;
}

/*to remove*/
.border {
    border: 3px dashed black;
}