/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Open Sans", sans-serif;
}

footer {
    background-color: var(--black);
    color: var(--white);
    padding: 70px 0 40px 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-size: 90px;
    margin-bottom: 50px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
    padding-bottom: 20px;
}

h5 {
    text-align: center;
    padding: 10px 0;
    font-weight: 400;
    font-size: 1rem;
}

/* Utils */
.container {
    max-width: 1400px;
    margin: 0 auto;
}

.small-container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
}

.grey {
    color: var(--gray);
}

.azure {
    color: #0061FF;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.br-btm {
    border-bottom: 1px solid var(--gray);
}

.btn-light {
    background-color: var(--ict-color);
    color: var(--white);
}

.btn-big {
    padding: 10px 15px;
}

.btn-small {
    padding: 5px 10px;
}

.btn-hover:hover {
    background-color: #3180ff;
}

.mr-40 {
    margin: 40px 0;
}

.mrt-big {
    margin-top: 150px;
}

.ltl-bord {
    width: calc(100% / 4);
    border: 1px solid var(--gray);
}

.bord {
    border: 1px solid var(--black);
}

.brd-t {
    border-top: 1px solid var(--white);
}

.brd-b {
    border-bottom: 1px solid var(--black);
}

.pdt-big {
    padding-top: 150px;
}

.pd-30 {
    padding: 30px 0;
}

/* Header */
/* NavBar*/
.navbar {
    z-index: 1;
    height: 80px;
    padding: 0 20px;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--bg-white);
    box-shadow: 0 5px 15px var(--gray);
}

.navbar ul {
    min-height: 100%;
    display: flex;
}

.navbar li {
    line-height: 80px;
    padding: 0 40px;
    margin: auto 0;
    border-bottom: 2px solid transparent;
}

.underline:hover {
    border-bottom: 2px solid;
}

.navbar div {
    padding: 0 15px;
    flex-basis: 50%;
}

.nav-right ul {
    justify-content: flex-end;
}

.navbar a,
.small-col a,
.jumbo-dsc a>.fa-arrow-down {
    color: var(--black);
}

.nav-right .btn-nav {
    margin-left: 15px;
    color: var(--white);
}

/*Jumbotron*/
#jumbotron {
    padding-top: 150px;
    height: 900px;
    background-color: var(--bgc-wide);
    margin-bottom: 200px;
}

.jumbo-dsc {
    font-size: 18px;
    padding-bottom: 95px;
}

.jumbo-dsc div {
    margin: 50px 0;
}

.jumbo-dsc .ar-ju {
    font-size: 60px;
    font-weight: bolder;
    margin-top: 85px;
}

.user-page {
    width: 70%;
}

/*Main*/
.purchase a,
.clients a {
    text-decoration: underline;
}

/*Pricing*/
.circle {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.circle-month {
    border: 4px solid var(--ict-color);
}

.circle-annual {
    border: 2px solid var(--gray);
    margin-left: 50px;
}

.subscription span {
    line-height: 16px;
    vertical-align: middle;
}

.row.price-plans .col {
    flex-basis: calc(100% /3 - 80px / 3);
    min-height: 100px;
    border: 1px solid var(--gray);
    flex-grow: 1;
}

.content-plan {
    padding: 35px 35px;
}

.content-plan * {
    margin: 10px 0;
}

.content-plan ul {
    padding: 30px 0;
}

.mrt-40 {
    margin-top: 40px;
}

.mrb-40 {
    margin-bottom: 40px;
}

.content-plan li {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.content-plan li>.fa-solid {
    margin-right: 10px;
}

.btn-price {
    padding: 10px 0;
    text-align: center;
    width: 100%;
    background-color: var(--ict-color);
}

.enterprise {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.enterprise .btn-light {
    flex-basis: calc(100% / 3 - 80px);
    text-align: center;
    margin: 45px 35px 0 75px;
    padding: 10px 0;
}

/*Partner*/
.partner {
    min-height: 500px;
    margin: 100px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.large-col {
    flex-basis: 60%;
}

.small-col {
    padding: 80px 40px;
    flex-basis: 40%;
}

/*Operations*/
.col {
    flex-basis: calc(100% / 3 - 80px / 3);
}

/*Members*/

.members .block {
    flex-wrap: wrap;
    flex-basis: calc(100% / 3);
}

.block .card {
    flex-basis: 50%;
    height: calc(((100vw / 3) / 2) - 2.83px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 30px solid rgba(0, 0, 0, 0);
}

.block .card:hover {
    border: 30px solid rgba(0, 0, 0, 0.2);
}

.card img {
    width: 70%;
    filter: invert(1);
}


/*Business*/
.business {
    min-height: 400px;
    align-items: center;
}

.business>* {
    flex-basis: 50%;
    color: #61082B;
}

.business a {
    color: var(--black);
    background-color: var(--bg-white);
    padding: 10px 50px;
}

.center {
    display: block;
    text-align: center;
}

/*FAQ*/
.question {
    padding: 50px 40px 50px 0;
    justify-content: space-between;
}

.lorem,
.fa-chevron-up,
.brd-b:hover .fa-chevron-down {
    display: none;
}

.brd-b:hover .lorem,
.brd-b:hover .fa-chevron-up {
    display: block;
}

/*footer*/
/*links*/
.links {
    flex-basis: calc(100% / 5 - 160px / 5);
}

.links li {
    padding: 10px 0;
}

/*lang*/
.lang {
    width: fit-content;
    color: grey;
}

/*bg color*/
.bg-green {
    background-color: #A2D39B;
}

.bg-purple {
    background-color: #61082B;
}

.bg-hazul {
    background-color: #0093CE;
}

.bg-lred {
    background-color: #FF1C1C;
}

.bg-grey {
    background-color: #F5F5F5;
}

.bg-hred {
    background-color: #D5001F;
}

.bg-lazul {
    background-color: var(--bgc-wide);
}

.bg-blue {
    background-color: #0D2481;
}

.bg-yellow {
    background-color: #FFD830;
}